@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri&family=Satisfy&display=swap');

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.Navbar{
  display: flex;
  justify-content: space-around;
  height: 120px;
  clear: both;
  background-color: black;
}

.about-me {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.fadingImgs, .each-fade, .image-container {
  max-width: 100%;
  max-height: auto;
}


.slide-container {
  width: 30vw;
  max-height: auto;
  margin-top: 30px;
}

.header {
  text-align: center;
  /* font-size: 60px; */
  font-size: 4vh;
}

.introduction {
  /* font-size:  40px; */
  font-size: 3.2vh;
}

.intro-text {
  max-width: 38%;
  max-height: auto;
}

.platforms {
  display: flex;
  justify-content: space-around;
  width: 33%;
  margin-left: 30%;
}

.logo {
  height: 64px;
  width: 64px;
}

.satisfy{
  font-family: 'Satisfy', cursive;
}

.messiri{
  font-family: 'El Messiri', sans-serif;
}

.Mahdi, .Intro, .Proj\/Exp, .Resume {
  color: white;
  margin-top: 35px;
  font-size: 40px;
}

.Resume {
  background-color: blue;
  height: 60px;
  width: 180px;
  /* padding: 20px; */
  text-align: center;
  border-radius: 15%;
}
